body{
    display: flex;
    background-color:#F0F2F5;
    width: 1440px;
}
.Home{
    padding: 156px 420px 279px 420px;
    margin: auto;
}
.Login-form{
    width: 600px;
    height: 589px;
    background-color: aqua;
}
.Login-form .Login-Header{
    width: 600px;
    height: 58.264px;
    flex-shrink: 0;
    background-color: blue;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-close{
    width: 24px;
    height: 24px;
    margin: 16 16 18.26 560;
}
.Login-form .Login-Body{
}